<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>welcome to <%=name %>  </p>
<a align="center" href="/logout">Logout</a>

  </body>
</html>
