<!DOCTYPE html>
<html>
  <head>
    <title>PassportLoginApp..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="post" >
    	username :<input type="text" name="username" />
    	password :<input type="password" name="password" />
    	<input type="submit" value="Login">
    </form>	
  </body>
</html>
